<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Size</a>
                <a href="" class="dropdown-item ">By Artist</a>
                <a href="" class="dropdown-item ">By Style</a>
                <a href="" class="dropdown-item">All Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-arrivals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-arrivals-link">
                <a href="" class="dropdown-item">Featured Artists</a>
                <a href="" class="dropdown-item">Trending Now</a>
                <a href="" class="dropdown-item">Limited Edition</a>
                <a href="" class="dropdown-item">All New Arrivals</a>
            </div>
        </li>
    </div>
