<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Art Club</title>
</head>
<body>
    <h1>Login</h1>
    
    <form method="post">
        {% csrf_token %}
        { form.as_p }
        <button type="submit">Login</button>


    </form>
    <p>New to Art Club? <a href="{% url 'account_signup' %}">Sign Up</a></p>
    
</body>
</html>