{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-5 product-section product-detail">
    <div class="row">
      <div class="col-lg-6 text-center">
        <img src="{{ product.image_path }}" alt="{{ product.title }}" class="img-fluid">
      </div>
      <div class="col-lg-6 text-center">
        <h1>{{ product.title }}</h1>
        <h2>{{ product.artist.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
