{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                    {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img src="{% url 'product_image' product.id %}" alt="{{ product.title }}" class="img-fluid">
            </a>
        {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{% static 'img/no-image.png' %}" alt="{{ product.title }}">
            </a>
        {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="mt-5">{{ product.title }}</h1>
                <p>{{ product.artist.name }}</p>
                <p>{{ product.format_type }}</p>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
{% endblock %}